body{
	background-color: #EDF2C5;
}

*{
	box-sizing: border-box;
}

.container{
	width: 940px;
	margin: 0 auto;
}

.header{

}

.header-top{
	display: flex;
	width: 940px;
	height: 42px;
	margin-top: 53px;	
	margin-bottom: 8px;
}

.header-title{
	color: #778A50;
	font-family: Arial Black;
	width: 271px;
	height: 42px;
	margin-right: 468px;
	font-size: 44px;
	line-height: 42px;
}

.icon{
	display: flex;
	width: 200px;
	height: 25px;
	margin-top: 8px;
}

.img4{
	margin-right: 10px;
	display: block;
}

.img5{
	margin-right: 10px;
	display: block;
}

.iconline{
	height: 25px;
	border-left: 1px solid #778A50;
	background-color: #EDF2C5;
	margin-right: 10px;
}

.login{
	width: 60px;
	height: 25px;
	border: 1px solid #778A50;
	border-radius: 3px;
	font-size: 14px;
	color: #778A50;
	font-family: Arial BoldMT;
	text-align: center;
	line-height: 25px;
	margin-right: 10px;
	}

.join{
	width: 50px;
	height: 25px;
	border: 1px solid #778A50;
	border-radius: 3px;
	font-size: 14px;
	color: #778A50;
	font-family: Arial BoldMT;
	text-align: center;
	line-height: 25px;
	}

.menu{
	width: 940px;
	height: 44px;
	background-color: #778A50;
	display: flex;
	margin-bottom: 20px;
}

.menu2{
	width: 940px;
	height: 44px;
	display: flex;
	margin-left: 30px;
}

.menutitle{
	margin-right: 60px;
	color: #EDF2C5;
	font-size: 16px;
	font-family: Arial Black;
	line-height: 44px;
}

.banner{
	width: 940px;
	height: 448px;
	display: block;
}

.contenthead{
	width: 940px;
	display: flex;
}

.lefthead{
	margin-top: 30px;
	margin-bottom: 15px;
	background-color: #778A50;
	color: #EDF2C5;
	width: 445px;
	height: 45px;
	margin-right: 50px;
	font-family: Arial Black;
	font-size: 16px;
	line-height: 45px;
	padding-left: 30px;
	box-sizing: border-box;
}

.righthead{
	margin-top: 30px;
	margin-bottom: 15px;
	background-color: #778A50;
	color: #EDF2C5;
	width: 445px;
	height: 45px;
	font-family: Arial Black;
	font-size: 16px;
	line-height: 45px;
	padding-left: 30px;
	box-sizing: border-box;
}

.leftimg{
	display: flex;
	width: 445px;
	height: 140px;
	margin-right: 50px;
}

.img1{
	margin-right: 12px;
}

.img2{
	margin-right: 12px;
}

.contentstate{
	display: flex;
	width: 940px;
}

.rightstate{
	width: 445px;
	height: 140px;
}

.rightstatement{
	background-color: #F7FBDA;
	width: 445px;
	margin: 0;
	padding-top: 16px;
	padding-bottom: 16px;
	padding-left: 15px;
	padding-right: 15px;
	font-family: ArialMT Regular;
	font-size: 12px;
	line-height: 1.33;
	box-sizing: border-box;			
}

.rightstatementline{
	width: 414px;
	border-top: 1px solid #7D7D7D;
	margin: 0 auto;
	background-color: #F7FBDA;
}

.footer{
	width: 1264px;
	height: 60px;
	background-color: #778A50;
	text-align: center;
	margin: auto;
	margin-top: 35px;
}

.footerstate{
	color: #EDF2C5;
	font-family: ArialMT Regular;
	font-size: 12px;
	padding-top: 24px;
	padding-bottom: 25px;
	margin-bottom: 0px;
}